@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root{
  --cor-header-first: #FFFFFF;
  --cor-header-second: #3F51B5; 
  --border-color-table: #ACACAC;
  --background-active-button: #E1EFFF;
  --color-success: rgba(52, 189, 90, 0.9);
  --color-success-light: #9EEDB4; 
  --color-warning: #555151FA;
  --color-warning-light: #E9EB79;
  --color-danger: #C62121;
  --color-danger-light: #DC777D;
  --color-btn-border: #3290FF;
  --backgroud-color-btn: #E1EFFF;
}
body{
  font-family: 'Lato', sans-serif;
  font-family: 'Press Start 2P', cursive;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

/*
  MAIN
*/
.tamanho-caixa{
  max-width: 1000px;
}
main{
  width:100%;
  overflow-x: hidden;
}
main .container-busca-avançada,  main .caixa-principal-produtos{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
main .container-busca-avançada .container-fluid{
  background-color: var(--cor-header-second);
}


