@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root{
  --cor-header-first: #FFFFFF;
  --cor-header-second: #3F51B5; 
  --border-color-table: #ACACAC;
  --background-active-button: #E1EFFF;
  --color-success: rgba(52, 189, 90, 0.9);
  --color-success-light: #9EEDB4; 
  --color-warning: #555151FA;
  --color-warning-light: #E9EB79;
  --color-danger: #C62121;
  --color-danger-light: #DC777D;
  --color-btn-border: #3290FF;
  --backgroud-color-btn: #E1EFFF;
}
body{
  font-family: 'Lato', sans-serif;
  font-family: 'Press Start 2P', cursive;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
/*
  Barra de navegação
*/
header nav{
  padding: 0;
}
header nav .caixa-icone{
  background-color: var(--cor-header-first);
  width: 20%;
  height: 100%;
  min-height: 80px;
}
header nav .navbar-collapse{
  height: 100%;
  width: 80%;
  min-height: 80px;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  background-color: var(--cor-header-second);
  justify-content: center;
}
.caixa-icone .navbar-brand img{
  height: 70px;
}

header nav .search{
  position: relative;
  align-items: center;
}
header nav .search input{
  width: 100%;
}
header nav .search i{
  position: absolute;
  right: 12px;
}

header nav .caixa-perfil-notifications{
  display: flex;
  align-items: center;
  gap: 15px;
}
header nav .caixa-perfil-notifications a{
  display: flex;
  align-items: center;
  gap: 10px;
  color: #FFFFFF;
}
header nav .caixa-perfil-notifications a i{
  font-size: 1.4em;
}
header nav .caixa-perfil-notifications a span{
  font-size: 0.8em;
}
header nav .caixa-perfil-notifications button{
  background-color: var(--cor-header-second);
  border: 0;
}

/*
  MAIN
*/
.tamanho-caixa{
  max-width: 1000px;
}
main{
  width:100%;
  overflow-x: hidden;
}
main .container-busca-avançada,  main .caixa-principal-produtos{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
main .container-busca-avançada .container-fluid{
  background-color: var(--cor-header-second);
}
 main .container{
  background-color: var(--cor-header-second);
 }
 main .row{
  background-color: var(--cor-header-first);
 }
 main .perfil{
  width: 250px;
 }
 main .user{
  width: 215px;
 }

/*
FOOTER
*/

footer{
  background-color: var(--cor-header-second);
}
.marca-icon{
  width: 50px;
}
.contato-icon{
  width: 25px;
}
.social-icons{
  width: 50px;
}
